body {
    background-color: #F6F6F6;
    margin-bottom: 20px;
  }
  
  #backgroundImage {
    width: 100%;
  }
  
  #navigationButtons {
    text-align: center;
    margin-top: 15px;
    font-family: 'Space Mono', monospace;
  }
  
  .btn {
    border: 0;
    background-color: #F6F6F6;
  }
  
  .btn:hover {
    background-color: gray;
  }
  #topText {
    position: absolute;
    text-align: center;
    top: 120px;
    left: 40%;
  }
  
  #name {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 50px;
    color: #fff;
  }
  
  #likes {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
    margin-bottom: -0.1em;
  }
  
  #read {
    font-size: 40px;
    font-family: 'Sacramento', cursive;
    color: #fff;
    text-decoration: underline;
  }
  
  #read a:hover {
    background-color: transparent;
    text-decoration: none;
  }
  
  #read a {
    color: #fff;
  }
  
  #navigationButtons a:hover {
    background-color: transparent;
    text-decoration: none;
  }
  
  #navigationButtons a {
    color: black;  
  }
  
  #bigLetter {
    font-size: 100px;
    font-family: 'Didact Gothic', sans-serif;
    color: black;
    line-height: 14px;
    margin-right: -4px;
  }
  
  #bioSection {
    font-family: 'Space Mono', monospace;
    text-align: center;
    margin: 85px 40px 0px;
    color: black;
    font-size: 19px;
  }
  #bioSection a {
    color: black;
    text-decoration: underline;
  }
  
  #sectionDivider1 {
    margin: 50px auto;
    display: block;
    width: 300px;
  }
  
  #sectionDivider2 {
    margin: 50px auto;
    display: block;
    width: 300px;
  }
  #portfolioTitle {
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    color: black;
  }
  
  #portfolioSection {
    margin-bottom: 100px;
    font-family: 'Space Mono', monospace;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
  }

  .portfolio-item {
    border: 1px black solid;
    padding: 15px;
    margin: 5px;
    border-radius: 6px;
    /* display: inline-block;
    width: 400px; */
  }

  .porfolio-img:hover {
    opacity: 0.5;
  }  

  .porfolio-img {
    width: 100%;

  }
  
  #contactTitle {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    color: black;
  }
  
  #contactLinks {
    margin-left: 100px;
  }
  
  .social-icon {
      width: 50px;
      height: 50px;
      display: inline-block;
  }

  #gitIcon {
    width: 100%;
    height: auto;
  }
  
  #linkedInIcon {
    width: 50px;
    height: auto;
  }
  
  #wordpressIcon {
    width: 50px;
    height: auto;
  }

  a:hover {
    text-decoration: none;
  }
  
  .social-icon:hover { 
      background-color: yellow;
      border-radius: 40px;
      text-decoration: none;
  }
  
  #socialSection > div {
    display: inline-block;
  }
  
  #contactText {
    font-family: 'Space Mono', monospace;
    float: right;
    color: black;
    line-height: 50px;
    margin-right: 100px;
  }

  @media (max-width: 500px) {
    #bioSection {
        font-size: 13px;
    }
    #topText {
    top: 55px;
    left: 21%;
    }
  }